<!DOCTYPE html>
<html>
<head>
  <title>Računovodstvo</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", 'jquery-ui-1.8.2.custom' %>
  <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui.min.js', 'rails', 'autocomplete-rails' %>
</head>
<body>
<% flash.each do |key,  value| %>
<%= content_tag(:div, value, class: "flash #{key}") %>
<% end %>
<%= yield %>
</body>
</html>